<aside class="main-sidebar">
    <header class="main-header">
        <h1 class="h1 block-logo"><a href="http://blog.cyrilou.me">Cyrilou, en toute intimité.</a></h1>
    </header>
    <ul class="block-share">
        <li><a href="https://twitter.com/IAmNotCyril" target="_blank" class="bs-item is-twitter">Retrouvez-moi sur Twitter</a></li>
        <li><a href="https://plus.google.com/113383566210376760170/" target="_blank" class="bs-item is-google">Suivez moi sur Google+</a></li>
        <li><a href="https://feedpress.me/blog-cyrilou" target="_blank" class="bs-item is-rss">Suivez moi sur les RSS</a></li>
    </ul>
</aside>