---
layout: default
---
<div class="post">

    <header class="post-header">
        <aside class="lp-metas">
            <time class="lp-time" datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
        </aside>
        <h1 class="lpsm-title">{{ page.title }}</h1>
    </header>

    <article class="block-content">
        {{ content }}
    </article>

    <div class="main-pagination container">
      {% if page.previous.url %} 
        &laquo; <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a> 
      {% endif %} 
      {% if page.next.url %} 
        &raquo; <a class="next" href="{{page.next.url}}">{{page.next.title}}</a> 
      {% endif %} 
    </div>
    <div class="comments">
        <p>J'ai volontairement supprimé Disqus parce que ça me saoulait. N'hésitez pas à me contacter sur <a href="https://twitter.com/IAmNotCyril">Twitter</a> si vous avez une remarque !<br />
        Ou même me créer une <a href="https://github.com/DaPo/blog.cyrilou.me/issues">issue sur GitHub</a>, tiens.</p>
    </div>
</div>
