---
layout: default
---
<div class="post">

    <header class="post-header">
        <aside class="lp-metas">
            <time class="lp-time" datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
        </aside>
        <h1 class="lpsm-title">{{ page.title }}</h1>
    </header>

    <article class="block-content">
        {{ content }}
    </article>

    <div class="main-pagination container">
      {% if page.previous.url %} 
        &laquo; <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a> 
      {% endif %} 
      {% if page.next.url %} 
        &raquo; <a class="next" href="{{page.next.url}}">{{page.next.title}}</a> 
      {% endif %} 
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'blogcyrilkrylatov';
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
